<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<nav id="header" class="navbar navbar-default">
	  <div class="container-fluid col-lg-offset-custom">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/datasets2tools">Datasets2Tools</a>
	    </div>
	    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore&nbsp<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="d2t-explore-cannedanalyses">Canned Analyses</a></li>
            <li><a id="d2t-explore-datasets">Datasets</a></li>
            <li><a id="d2t-explore-tools">Tools</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Upload&nbsp<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Form</a></li>
            <li><a>Table</a></li>
            <li><a>API</a></li>
          </ul>
	    </li>
        <li><a href="/datasets2tools/about">About</a></li>
      </ul>
	    </div>
	  </div>
	</nav> <!-- #header -->

  	<div id="main" class="container-fluid col-lg-offset-custom">
      <div id="d2t-search-bar" align="left">
      <form id="d2t-search-form">
        <div class="row row2 col-lg-offset-1">
          <div class="col-sm-3 vcenter">
            <h3>Canned Analyses</h3>
          </div> <!-- .col-sm-2 -->
          <div class="col-lg-8 vcenter">
            <div class="input-group input-group-lg">
              <div class="input-group-btn dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="d2t-search-type">Canned Analyses&nbsp<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a>Canned Analyses</a></li>
                  <li><a>Datasets</a></li>
                  <li><a>Tools</a></li>
                </ul>
              </div><!-- /btn-group -->
              <input type="text" class="form-control" name="query" placeholder="Search..." id="d2t-search-input">
              <span class="input-group-btn"> <button class="btn btn-default" type="submit" id="search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </form>
      </div>
      <!-- {{cannedAnalysisData}} -->
  	</div> <!-- #main -->

  	<div id="footer" class="container-fluid">
  		<div id="script-container">
	  		<script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
			<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
			<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  		</div> <!-- #script-container -->
  	</div> <!-- #footer -->

</body>
