<!DOCTYPE html>
<html class="height-extended">
	<head>
		<meta charset="UTF-8">
		<title>Datasets2Tools</title>
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
		<link rel="stylesheet" type="text/css" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
	</head>
	<body class="height-extended">
		<div id="main_container" class="container-fluid height-extended">
			<div id="navbar_container">
				<nav id="navbar" class="navbar navbar-default bg-custom justify-content-center fixed-top">
					<div id="logo-xl">Datasets2Tools</div>
					<div id="logo-xl" class="hidden-xl-up hidden-sm-down"></div>
					<ul class="hidden-lg-down">
						<div class="float-left">
							<li><a href="/datasets2tools">HOME</a></li>
							<li><a href="/datasets2tools/search.html">SEARCH</a></li>
							<li><a href="/datasets2tools/explore.html"">EXPLORE</a></li>
						</div>
						<div class="float-right">
							<li><a href="/datasets2tools/about.html">ABOUT</a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Coming Soon...">HELP</a></li>
							<li><a href="/datasets2tools/upload.html">UPLOAD</a></li>
						</div>
					</ul>
					<ul class="hidden-xl-up">
						<div class="float-left">
							<div class="dropdown">
								<a class="dropdown-toggle" id="left-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-search fa-3x" aria-hidden="true"></i>
								</a>
								<div class="dropdown-menu" aria-labelledby="left-dropdown-menu">
									<a class="dropdown-item" href="/datasets2tools"><i class="fa fa-home fa-2x" aria-hidden="true"></i>HOME</a>
									<a class="dropdown-item" href="/datasets2tools/search.html"><i class="fa fa-search fa-2x" aria-hidden="true"></i>SEARCH</a>
									<a class="dropdown-item" href="/datasets2tools/explore.html"><i class="fa fa-compass fa-2x" aria-hidden="true"></i>EXPLORE</a>
								</div>
							</div>
						</div>
						<div class="float-right">
							<div class="dropdown">
								<a class="dropdown-toggle" id="right-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="right-dropdown-menu">
									<a class="dropdown-item" href="/datasets2tools/upload.html"><i class="fa fa-upload fa-2x" aria-hidden="true"></i>UPLOAD</a>
									<a class="dropdown-item" href="#"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>HELP</a>
									<a class="dropdown-item" href="/datasets2tools/about.html"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>ABOUT</a>
								</div>
							</div>
						</div>
					</ul>
				</nav>
			</div> <!-- #navbar_container -->
			<div id="jumbotron_container">
				<div id="explore_jumbotron" class="jumbotron">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h1>Metadata Explorer</h1>
								<hr class="my-4">
								<p id="object-select-text" class="lead">The chart below allows to interactively explore metadata tags associated to stored analyes.<sup>&nbsp<i class="fa fa-question-circle fa-1x" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-html="true" title="The larger circles represent metadata tag names; the smaller circles contained within them represent
								values these tags are associated to.  Only values associated to at least 10 different canned analyses are shown."></i></sup></p>
								<p id="object-select-text" class="lead-3">Built using Mike Bostock's D3 zoomable circle packing <a href="https://bl.ocks.org/mbostock/7607535">example</a>.</p>
							</div> <!-- .col-md-12 -->
						</div> <!-- .row -->
					</div> <!-- .container -->
					<div class="row">
						<div class="col-md-12" id="d3-container">
							<svg width="960" height="960"></svg>
						</div> <!-- .col-md-12 -->
					</div> <!-- .row -->
				</div> <!-- .jumbotron -->
			</div> <!-- #jumbotron_container -->
			<div id="footer" class="container-fluid explore-footer">
				<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
								<hr width="75%">
								Developed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>.
							</div> <!-- .col-md-12 -->
						</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- #footer -->
		</div> <!-- #main_container -->
	</body>
		<div>
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			<script src="{{ url_for('static', filename='js/tags-input.js') }}"></script>
			<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
			<script>[].forEach.call(document.querySelectorAll('input[type="tags"]'), tagsInput);</script>
			<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
			<script src="{{ url_for('static', filename='js/circle.js') }}"></script>
			<script> $(function() {$('[data-toggle="tooltip"]').tooltip()}) </script>
		</div> <!-- #footer -->
</html>
