<!DOCTYPE html> <html>
	<head>
		<meta charset="UTF-8">
		<title>Datasets2Tools</title>
		<link rel="stylesheet" type="text/css" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
	</head>

	<body>
		<div id="main-container" class="container-fluid">

			<div id="navbar-wrapper">
				<nav id="navbar" class="navbar navbar-toggleable-md navbar-inverse container">
				  <button id="toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <a id="navbar-logo" class="navbar-brand" href="/datasets2tools">Datasets2Tools</a>
				  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <div class="nav navbar-nav ml-auto">
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="/datasets2tools">HOME</a>
					    <ul class="navbar-nav">
			    	      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle navbar-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          SEARCH
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					          <a class="dropdown-item" href=/datasets2tools/search>BASIC SEARCH</a>
					          <a class="dropdown-item" href="/datasets2tools/advanced_search">ADVANCED SEARCH</a>
					        </div>
					      </li>
					    </ul>
					    <ul class="navbar-nav">
			    	      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle navbar-link" href="http://example.com" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          EXPLORE
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
					          <a class="dropdown-item" href="/datasets2tools/collections">COLLECTIONS</a>
					          <a class="dropdown-item" href="/datasets2tools/metadata_explorer">METADATA</a>
					        </div>
					      </li>
					    </ul>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="/datasets2tools/upload">UPLOAD</a>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="#">EXTENSION</a>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="/datasets2tools/help">HELP</a>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="/datasets2tools/about">ABOUT</a>
				    </div>
				  </div>
				</nav>
			</div> <!-- #navbar-wrapper -->

			<div id="jumbotron-wrapper">
				<div class="jumbotron">
					<div class="container text-center">
						<div class="row">
							<div class="col-sm-12">
								<h1>Help</h1>
								<div class="lead my-4">The section below contains Frequently Asked Questions and a summary of the key features and properties of the Canned Analysis.</div>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .jumbotron -->
			</div> <!-- #jumbotron-wrapper -->

			<div id="help-table-wrapper">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12">
							<p class="h5">Frequently Asked Questions</p>
							<hr width="35%">
						</div> <!-- .col -->
					</div> <!-- .row -->
					<div class="row">
						<div class="col-sm-4">
							<i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
							<p class="h6">What is a Canned Analysis?</p>
							<p class="subtext-2">A Canned Analysis is a pre-run analysis of a biomedical dataset by computational tool.	It is stored on a website and can be easily accessed by any user.</p>
						</div> <!-- .col -->
						<div class="col-sm-4">
							<i class="fa fa-table fa-3x" aria-hidden="true"></i>
							<p class="h6">Where are they indexed?</p>
							<p class="subtext-2">Information about Canned Analyses, relevant datasets, and tools is currently indexed in a database managed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>.</p>
						</div> <!-- .col -->
						<div class="col-sm-4">
							<i class="fa fa-globe fa-3x" aria-hidden="true"></i>
							<p class="h6">Where are they hosted?</p>
							<p class="subtext-2">Canned Analyses are hosted on websites maintained by external developers.	We do not currently provide hosting services.</p>
						</div> <!-- .col -->
					</div> <!-- #faq_row -->
					<div class="row">
						<div class="col-sm-12">
							<p class="h5">Key Features</p>
							<hr width="25%">
						</div> <!-- .col -->
					</div> <!-- .row -->
					<div class="row">
						<div class="col-sm-3">
							<i class="fa fa-database fa-3x" aria-hidden="true"></i>
							<p class="h6">Dataset</p>
							<p class="subtext-2">The first key feature of a Canned Analysis is a biomedical dataset.	It is identified by a unique accession, and must be accessible through an online repository.</p>
						</div> <!-- .col -->
						<div class="col-sm-3">
							<i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
							<p class="h6">Tool</p>
							<p class="subtext-2">The second key feature is a computational tool.	It must be able to perform an analysis on the specified dataset, and has its own website.</p>
						</div> <!-- .col -->
						<div class="col-sm-3">
							<i class="fa fa-link fa-3x" aria-hidden="true"></i>
							<p class="h6">URL</p>
							<p class="subtext-2">The third key feature is the Canned Analysis URL.	It is a hard-coded link to a webpage containing the results of the analysis run by the tool on the dataset.</p>
						</div> <!-- .col -->
						<div class="col-sm-3">
							<i class="fa fa-tags fa-3x" aria-hidden="true"></i>
							<p class="h6">Annotations</p>
							<p class="subtext-2">Canned Analyses can be annotated by adding a brief description and any number of relevant metadata tags or keywords.</p>
						</div> <!-- .col -->
					</div> <!-- #key_features_row -->
					<div class="row">
						<div class="col-sm-12">
							<p class="h5">Properties</p>
							<hr width="25%">
						</div> <!-- .col -->
					</div> <!-- .row -->
					<div id="properties_row" class="row">
						<div class="col-sm-3">
							<i class="fa fa-search fa-3x" aria-hidden="true"></i>
							<p class="h6">Findable</p>
							<div class="subtext-2">Canned analyses relevant to the desired data can be easily found by using the embedded interfaces.
								They are available on dataset search result pages and dataset landing pages.</div>
						</div> <!-- .col -->
						<div class="col-sm-3">
							<i class="fa fa-universal-access fa-3x" aria-hidden="true"></i>
							<p class="h6">Accessible</p>
							<div class="subtext-2">Canned analyses can be rapidly accessed by clicking on the links provided in the embedded interfaces. They are displayed as small icons with the tool's logo.</div>
						</div> <!-- .col -->
						<div class="col-sm-3">
							<i class="fa fa-connectdevelop fa-3x" aria-hidden="true"></i>
							<p class="h6">Flexible</p>
							<div class="subtext-2">Canned analyses can support multiple data, tool and analysis types.</div>
						</div> <!-- .col -->
						<div class="col-sm-3 text-center">
							<i class="fa fa-share-alt fa-3x" aria-hidden="true"></i>
							<p class="h6">Shareable</p>
							<div class="subtext-2">Canned analyses can be easily shared by copy-pasting their URLs, or by embedding them as icons in websites. The interface provides access to both solutions.</div>
						</div> <!-- .col -->
					</div> <!-- #properties_row -->
				</div> <!-- .container -->
			</div> <!-- #content-wrapper -->

		</div> <!-- #main_container -->

	    <footer class="footer text-center">
		    <div class="container-fluid">
				<hr class="my-1" width="90%">
				<span><span class="hidden-sm-up">xs</span><span class="hidden-md-up hidden-xs-down">sm</span><span class="hidden-lg-up hidden-sm-down">md</span><span class="hidden-xl-up hidden-md-down">lg</span><span class="hidden-lg-down">xl</span></span>
				Developed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>.
		    </div>
	    </footer>

		<div id="js">
			<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
			<script> $(function() {$('[data-toggle="tooltip"]').tooltip()}) </script>
		</div> <!-- #js -->

	</body>
</html>
