body {
	background-color: #F3F4F3;
	min-width: 550px;
}

#main_container {
	padding: 0;
}

.height-extended {
	min-height: 100%;
}

body.height-extended {
	height: 100%;
}

.height-extended {
	height: 100%;
}

#jumbotron_container {
	text-align: center;
}

i {
	text-align: left;
}

.container {
	width: 1000px;
	min-width: 550px;
}

.jumbotron {
	padding-bottom: 50px;
	margin-bottom: 0px;
}

#navbar {
	padding: 0;
}

.float-left li {
    float: left;
}

.float-right li {
    float: right;
}

#navbar a {
    display: block;
    padding: 8px;
    height: 100%;
    background-color: transparent;
    color: rgba(255,255,255,.5);
    height: 100px;
    padding: 0 35px;
    line-height: 100px;
}

#navbar a:hover {
	text-decoration: none;
	cursor: pointer;
	color: rgba(255,255,255,.75);
	transition: 0.3s;
	background-color: #3A506B;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar .dropdown-toggle {
	cursor: pointer;
}

.dropdown-toggle::after {
    display:none
}

#navbar .dropdown-menu {
	background-color: #011627;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
}

#navbar .dropdown.show .dropdown-toggle {
	background-color: #3A506B;
}

#navbar .fa-3x {
	padding-top: 25px;
}

.dropdown-item .fa {
	padding-right: 20px;
}

.bg-custom {
	background-color: #011627;
}

.dropdown-item {
	display: table;
}

.dropdown-item span {
	vertical-align: middle;
}

.dropdown-item i {
	vertical-align: middle;
	margin-top: -5px;
	margin-left: -5px;
}

#logo-xl {
    width:400px;
    right: 0;
    left: 0;
    margin: auto;
	position: absolute;
	font-size: 35pt;
	align-content: center;
	text-align: center;
	color: rgba(255,255,255,.75);
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
}

#logo-xl:hover {
	color: rgba(255,255,255,.9);
	transition: 0.5s;
}

p.h5 {
	margin-top: 40px;
}

p.h6 {
	margin: 20px 0px;
}

#intro_container .fa-3x {
	padding-top: 15px;
}

#intro_container .fa:hover {
	color: rgba(28, 37, 65, 0.6);
	transition: 0.5s;
}

#footer {
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 15px;
	/*background-color: rgba(1,22,39,.05);*/
}

#footer:not(.bottom-footer) {
	/*background-color: rgba(1,22,39,.05);*/
}

.bottom-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #F3F4F3;
}

#jumbotron_button_row {
	margin-top: 30px;
	max-width: 1000px;
}

#jumbotron_button_row .fa {
	padding: 20px 0px;
}

.jumbotron-button {
	color: white;
	background-color: rgba(28, 37, 65, 1);
	height: 165px;
	width: 165px;
	margin: 5px 0px;
	border-radius: 10px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 #intro_container {
 	text-align: center;
 }

 #navbar a,
 #jumbotron_button_row a {
	text-decoration: none;
}

 #jumbotron_button_row a:hover,
 #jumbotron_button_row a:visited,
 #jumbotron_button_row a:active {
	text-decoration: none;
	color: white;
	transition: 0.3s;
	background-color: rgba(28, 37, 65, 0.9);
}

#info_title_container {
 	padding-top: 50px;
	background-color: rgba(1,22,39,.05);
}

#info_container {
	background-color: rgba(1,22,39,.05);
}

#object-selector {
	padding-top: 15px;
	padding-bottom: 15px;
}

#object-selector label {
	height: 150px;
	width: 150px;
	cursor: pointer;
	text-align: center;
	box-shadow: none;
	border: none;
	background-color: #13293D;
}

#object-selector label.active {
	background-color: #006494;
}

#object-selector .fa {
	padding-top: 10px;
	padding-bottom: 15px;
}

.continue-row {
	padding-top: 20px;
}

.btn {
	cursor: pointer;
}

.continue-button {
	border: none;
	color: white;
	background-color: #13293D;
}

.continue-button:hover {
	background-color: #13293D;
}

.continue-button:focus {
	/*background-color: #006494;*/
	box-shadow: none;
	-webkit-box-shadow: none;
}

#explore_jumbotron {
	padding-top: 150px;
}

.row input {
	margin: 15px 0;
}

#keywords-label {
	width: 80%;
	text-align: left;
}

.tags-input {
	display:inline-block;
	padding:5px 5px;
	background:#FFF;
	border:1px solid #CCC;
	width:100%;
	border-radius:2px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	cursor: text;
}

.tags-input .tag {
	display:inline-block;
	background:#EEE;
	color:#444;
	padding:1px 10px;
	margin:3px 2px;
	border:1px solid #CCC;
	border-radius:2px;
	font:inherit;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	transition:all .1s ease
}

.tags-input .tag.selected {
	background-color:#777;
	border-color:#777;
	color:#EEE
}

.tags-input .tag.dupe {
	-webkit-transform:scale3d(1.2,1.2,1.2);
	transform:scale3d(1.2,1.2,1.2);
	background-color:#FCC;
	border-color:#700
}

.tags-input input {
	-webkit-appearance:none!important;
	-moz-appearance:none!important;
	appearance:none!important;
	display:inline-block!important;
	padding:5px 0px 5px 10px;
	margin:0!important;
	background:0 0!important;
	border:none!important;
	box-shadow:none!important;
	font:inherit!important;
	font-size:105%!important;
	outline:0!important;
}

.tags-input .selected~input {
	opacity:.3
}

sup i {
	cursor: pointer;
}

#results_container {
	padding-top: 30px;
	display: none;
}

#explore-footer {
	/*background-color: */
}

#back-button {
	position: absolute;
	right: 100px;
	top: 75px;
}

.form-alert {
	position: absolute;
	color: red;
	left: -120px;
	text-align: left;
	font-size: 12pt;
	vertical-align: middle;
	padding: 3px 5px;
	border: 1px solid red;
	margin-top: -3px;
	border-radius: 3px;
}

.form-alert .fa {
	vertical-align: middle;
	padding-right: 10px;
}

.tooltip-inner {
    max-width: 300px;
}

/*
#logo-xl::before {
	content: '';
	position: absolute;
	left: -263px;
	top: -50px;
	width: 0;
	height: 0;
	border: 300px solid transparent;
	border-top: 170px solid #011627;
	z-index: -1;
}*/
/*
#logo-xl::after {
	content: '';
	position: absolute;
	left: -162px;
	top: -50px;
	width: 0;
	height: 0;
	border: 200px solid transparent;
	border-top: 155px solid #A9BCD0;
	z-index: -2;

}
*/
/*#navbar .fa-database {
	font-size: 75pt;
	position: absolute;
	top: -35px;
	left: -5px;
	color: rgba(255,255,255,.75);
}*/


.canned-analysis-table {
	text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.canned-analysis-table th {
	text-align: center;
}

.metadata-list {
    overflow-wrap: break-word;
    max-width: 500px;
}

.canned-analysis-table img {
	height: 50px;
}

.tool-cell {
	padding: 0px 20px;
}

.tool-cell-logo {
	display: table;
	margin: 0 auto;
}

.tool-cell-logo-icon {
	display: table-cell;
	vertical-align: middle;
	margin: 5px 10px 5px 10px;
	border: 1px solid #9fa1a5;
}

.tool-cell-logo-title {
	display: table-cell;
	vertical-align: middle;
	font-size: 13pt;
	font-weight: 500;
}

.tool-cell-text {
    font-size: 11pt;
    font-weight: 300;
}

.dataset-cell {
	padding: 0px 20px;
}

.dataset-cell-logo {
	display: table;
	margin: 0 auto;
}

.dataset-cell-logo-icon {
	display: table-cell;
	vertical-align: middle;
	margin: 5px 10px 5px 10px;
	border: 1px solid #9fa1a5;
}

.dataset-cell-logo-title {
	display: table-cell;
	vertical-align: middle;
	font-size: 13pt;
	font-weight: 500;
}

.dataset-cell-text {
    font-size: 11pt;
    font-weight: 300;
}

.analysis-cell {
	padding: 0px 20px;
}

.analysis-cell-icon {
	margin: 5px 10px 5px 10px;
	border: 1px solid #9fa1a5;
}

.analysis-cell-text {
    font-size: 11pt;
    font-weight: 300;
}



