/*** HTML ***/

body {
	min-width: 450px;
}

/*** Containers ***/

#main-container {
	padding: 0px;
}

/*** Navbar ***/

/* General */
#navbar-wrapper {
	background-color: #001627;
}

#navbar {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 100px;
}

/* Logo */

#navbar-logo {
	font-size: 30pt;
	font-family: 'Quicksand', sans-serif;
	color: #A0A4B0;
	margin: 15px 0px;
}

#navbar-logo:hover {
	color: #C2C5CC;
	transition: 0.5s;
}

/* Links */

#navbar a {
	padding: 0px 20px;
}

.navbar-link {
	color: #A0A4B0;
	height: 100px;
	line-height: 100px;
}

.navbar-link:hover {
	color: #C2C5CC;
	background-color: #303852;
	transition: 0.5s;
}

/* Toggler */

#toggler {
	margin-top: 30px;
}

/*** Jumbotron ***/

/* General */
#jumbotron-wrapper {
	background-color: #eceeef;
}


/* Buttons */

.jumbotron-button {
	background-color: #1D2541;
	height: 300px;
	width: 300px;
}