/*** HTML ***/

/* HTML */

html {
	position: relative;
	min-height: 100%;
	font-size: 9pt;
	min-width: 500px;
}

/* Body */

body {
	background-color: #ECEEEF;
	margin-bottom: 70px;
}

/* Container */

.container {
	max-width: 1000px;
}

.container {
	max-width: 1200px;
}

/* Footer */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 40px;
}

/*** Containers ***/

#main-container {
	padding: 0px;
}

/*** Navbar ***/

/* General */
#navbar-wrapper {
	background-color: #001627;
}

#navbar {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 70px;
}

/* Logo */

#navbar-logo {
	font-size: 25pt;
	font-family: 'Quicksand', sans-serif;
	color: #A0A4B0;
	margin: 10px 0;
}

#navbar-logo:hover {
	color: #C2C5CC;
	transition: 0.3s;
}

/* Links */

#navbar a {
	padding: 0px 20px;
}

.navbar-link {
	color: #A0A4B0;
	height: 70px;
	line-height: 70px;
}

.navbar-link:hover {
	color: #C2C5CC;
	background-color: #303852;
	transition: 0.3s;
}

/* Toggler */

#toggler {
	margin-top: 20px;
}

/* Dropdown */

#navbar .dropdown-menu {
  background-color: #303852;
	border: none;
	border-radius: 0;
	margin-top: 0;
	padding: 0;
}

#navbar .dropdown-menu a {
	color: #A0A4B0;
	padding: 30px 20px;
}

#navbar .dropdown-menu a:hover {
	color: #C2C5CC;
	background-color: #303852;
	transition: 0.3s;
}

.nav-item.dropdown.show > a {
	background-color: #303852;
}

.nav-item.dropdown.show .dropdown-menu a {
	background-color: #001627;
}

/*** Jumbotron ***/

#jumbotron-wrapper {
	background-color: #ECEEEF;
}

/* Buttons */

.jumbotron-button {
	background-color: #1D2541;
	display: block;
	height: 125px;
	width: 125px;
	border-radius: 5px;
	margin: auto;
}

.jumbotron-button:hover {
	background-color: #303852;
	transition: 0.3s;
	text-decoration: none;
}

.jumbotron-button-content {
	padding-top: 15px;
	color: #ECEEEF;
}

.jumbotron-button-content i {
	padding-bottom: 10px;
}

.jumbotron-button-content p {
	font-size: 11pt;
	font-weight: 100;
}

.btn-blue {
	cursor: pointer;
	color: white;
	text-align: center;
	box-shadow: none;
	background-color: #1D2541;
	margin-top: auto;
	margin-bottom: auto;
	outline: none;
	border: none;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + .btn-blue {
	background-color: #025aa5;
}

/***** Specific Pages *****/

/*** Simple Search Bar ***/

#object-selection-row label {
	height: 125px;
	width: 125px;
	cursor: pointer;
	text-align: center;
	box-shadow: none;
	border: none;
	background-color: #1D2541;
}

#object-selection-row input[type="radio"] {
	display: none;
}

#object-selection-row input[type="radio"]:checked + label {
	background-color: #025aa5;
}

#object-selection-row .fa {
	padding-top: 15px;
	padding-bottom: 10px;
}

#object-selection-row p {
	font-size: 10pt;
}

/*** Keyword Input ***/

#search-jumbotron-wrapper .jumbotron {
	padding-bottom: 20px;
}

#search-button {
	background-color: #1D2541;
	border: none;
	box-shadow: none;
	cursor: pointer;
}

#keyword-input-row label {
	width: 85%;
	max-width: 600px;
	text-align: left;
}

#search-example {
	padding-top: 3px;
	margin-bottom: 3px;
}

#search-example a {
	text-decoration: none;
	color: #0275d8;
}

.form-alert {
	position: absolute;
	color: red;
	left: 170px;
	text-align: left;
	font-size: 9pt;
	vertical-align: middle;
	padding: 3px 5px;
	border: 1px solid red;
	border-radius: 3px;
}

/*** Tags Input ***/

.tags-input {
	display:inline-block;
	padding: 5px 5px;
	background:#FFF;
	border:1px solid #CCC;
	width:100%;
	border-radius:2px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	cursor: text;
}

.tags-input .tag {
	display:inline-block;
	background:#EEE;
	color:#444;
	padding:2px 7px;
	margin:3px 2px;
	border:1px solid #CCC;
	border-radius:2px;
	font:inherit;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	transition:all .1s ease
}

.tags-input .tag.selected {
	background-color:#777;
	border-color:#777;
	color:#EEE
}

.tags-input .tag.dupe {
	-webkit-transform:scale3d(1.2,1.2,1.2);
	transform:scale3d(1.2,1.2,1.2);
	background-color:#FCC;
	border-color:#700
}

.tags-input input {
	-webkit-appearance:none!important;
	-moz-appearance:none!important;
	appearance:none!important;
	display:inline-block!important;
	padding:5px 0px 5px 10px;
	margin:0!important;
	background:0 0!important;
	border:none!important;
	box-shadow:none!important;
	font:inherit!important;
	font-size:105%!important;
	outline:0!important;
}

.tags-input .selected~input {
	opacity:.3
}

/*** Search Results ***/

#search-results-wrapper {
	background-color: #F3F4F3;
	padding-top: 10px;
}

#back-button {
    border: none;
    color: white;
    background-color: #13293D;
	display: table-cell;
	vertical-align: middle;
	margin-left: 5em;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

#search-results-description {
	display: table;
	margin: auto;
}

#search-results-description span {
	display: table-cell;
	vertical-align: middle;
}

/*** Results Table ***/

.tool-table,
.dataset-table,
.canned-analysis-table {
	text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-top: 15px;
}

.tool-table tbody tr:nth-child(odd),
.dataset-table tbody tr:nth-child(odd),
.canned-analysis-table tbody tr:nth-child(odd) {
   background-color: #f8f8f8;
}

.tool-table tbody tr:nth-child(even),
.dataset-table tbody tr:nth-child(even),
.canned-analysis-table tbody tr:nth-child(even) {
   background-color: #fcfcfc;
}

.tool-table th,
.dataset-table th,
.canned-analysis-table th {
	text-align: center;
	height: 50px;
    background-color: #13293D;
    color: white;
    font-size: 17px;
    font-weight: 300;
    border: none;
}
.tool-table td,
.dataset-table td,
.canned-analysis-table td {
    border-bottom: 1px dotted #b4bec6;
}

.metadata-list {
    word-wrap: break-word;
    max-width: 500px;
}

.tool-cell-logo-icon,
.dataset-cell-logo-icon {
	height: 50px;
}

.tool-cell {
	padding: 0px 20px;
	max-width: 250px;
}

.tool-cell-logo {
	display: table;
	margin: 0 auto;
}

.tool-cell-logo-icon {
	display: table-cell;
	vertical-align: middle;
	margin: 5px 10px 5px 10px;
	border: 1px solid #9fa1a5;
	background-color: white;
}

.tool-cell-logo-title {
	display: table-cell;
	vertical-align: middle;
	font-size: 11pt;
	font-weight: 500;
}

.tool-cell-text {
    font-weight: 300;
    word-wrap: break-word;
}

.dataset-cell {
	padding: 0px 20px;
	max-width: 250px;
}

.dataset-cell-logo {
	display: table;
	margin: 0 auto;
}

.dataset-cell-logo-icon {
	display: table-cell;
	vertical-align: middle;
	margin: 5px 10px 5px 10px;
	border: 1px solid #9fa1a5;
}

.dataset-cell-logo-title {
	display: table-cell;
	vertical-align: middle;
	font-size: 13pt;
	font-weight: 500;
}

.dataset-cell-text {
    font-size: 9pt;
    font-weight: 300;
    word-wrap: break-word;
}

.analysis-cell {
	padding: 15px 20px;
	max-width: 250px;
}

.analysis-cell-icon {
	max-width: 150px;
	margin: 5px 10px 5px 10px;
	border: 1px solid #9fa1a5;
}

.analysis-cell-icon:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.analysis-cell-text {
    font-size: 9pt;
    font-weight: 300;
    word-wrap: break-word;
}

.canned-analysis-table a,
.tool-table a,
.dataset-table a {
	color: #001333;
}

#results_table_container {
	width: 1350px;
}

.metadata-cell {
	padding: 15px 10px;
	max-width: 500px;
	word-wrap: break-word;
}

.metadata-cell sup {
	font-size: 7pt;
}

.metadata-cell-tag {
	font-weight: 700;
}

.metadata-cell-value {
	font-weight: 100;
}

.dataset-description-cell {
    font-weight: 300;
    font-size: 9pt;
	padding: 10px 15px;
	min-width: 300px;
}

.dataset-title-cell {
	padding: 10px 15px;
	min-width: 250px;
}

.dataset-title-cell-accession {
    font-size: 13pt;
    font-weight: 700;
    padding-bottom: px;
}

.dataset-title-cell-accession {
    font-size: 14pt;
    font-weight: 700;
    padding-bottom: 5px;
}

.dataset-title-cell-text {
    font-size: 9pt;
    font-weight: 100;
    margin-top: 7px;
    padding: 0 5px;
}

.dataset-repository-cell {
	padding: 10px 15px;
	min-width: 150px;
}

.dataset-repository-cell-icon {
	width: 100px;
	margin: 5px 10px 5px 10px;
	border: 1px solid #9fa1a5;
}

.dataset-repository-cell-text {
	font-size: 9pt;
	font-weight: 300;
}

.dataset-tool-analysis-count-cell {
	min-width: 300px;
	padding: 5px 10px;
}

.dataset-tool-analysis-count {
	display: table;
	padding: 3px 0;
}

.dataset-tool-analysis-count-icon {
	display: table-cell;
	vertical-align: middle;
	height: 35px;
	border: 1px solid #9fa1a5;
	margin: 5px;
	background-color: white;
}

.dataset-tool-analysis-count-text {
	display: table-cell;
	vertical-align: middle;
	font-weight: 100;
}

.dataset-tool-analysis-count-title {
	font-size: 9pt;
	font-weight: 400;
}

.dataset-tool-analysis-count-analyses {
	font-size: 12pt;
	font-weight: 100;
}

.tool-icon-cell {
	display: table;
}

.tool-icon-cell-logo {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	border: 1px solid #9fa1a5;
	margin: 15px;
	background-color: white;
}

.tool-icon-cell-text {
	display: table-cell;
	vertical-align: middle;
	font-weight: 500;
	font-size: 9pt;
	padding-right: 30px;
}

.tool-description-cell {
	padding: 5px 25px;
}

.tool-analysis-count-cell {
	min-width: 100px;
	padding: 0 50px;
}

/*** Advanced Search ***/

.alter-search-term-col {
	padding-left: 0px;
	margin: auto 0;
	text-align: left;
}

.search-term-button {
	cursor: pointer;
	color: #303852;
	padding-right: 10px;
}

#advanced-search-submit-button {
	background-color: #1D2541;
	border: none;
	box-shadow: none;
	cursor: pointer;
	margin-top: 10px;
}

#advanced-search-query {
	background-color: #F3F4F3;
	border: 1px solid lightgrey;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 10px 10px;
	font-family: 'Monaco';
	font-size: 8pt;
}

.additional-row {
	display: none;
}

.filter-row.active {
	display: flex;
}

.first-row > .col-1 {
	margin: auto;
}

/*** Manual Upload ***/

.hidden {
	display: none;
}

.analysis-preview-image {
	max-width: 300px;
	max-height: 200px;
}

.change-method .select-method {
	border-radius: 5px 0px 0px 5px;
	margin-right: -2px;
}


.change-method .insert-method {
	border-radius: 0px 5px 5px 0px;
	margin-left: -2px;
}

.change-method .fa {
	margin: auto 7px auto 0px;
}

.add-object-button-row {
	margin-top: 15px;
}

.added-element-row {
	padding: 5px 10px;
}

.added-object {
	border: 1px solid lightgrey;
	padding: 5px 10px;
}

.added-object .col {
	padding: 0px;
}
.added-dataset {
	margin-bottom: 3px;
}

.added-dataset-accession {
	font-weight: 500;
	font-size: 9pt;
}

.added-dataset-title {
	font-size: 9pt;
}

.added-tool-icon {
	max-height: 50px;
	max-width: 200px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
}

.added-tool-name {
	font-weight: 500;
	font-size: 10pt;
}

.canned-analysis-title {
	font-size: 12pt;
	font-weight: 600;
	margin-bottom: 10px;
}

.canned-analysis-description {
	font-size: 11pt;
	margin-bottom: 10px;
}

.canned-analysis-annotation {
	font-size: 11pt;
}

.canned-analysis-annotation div {
	margin-bottom: 5px;
}

.annotation-label {
	font-weight: 500;
}

.analysis-preview-image {
	max-width: 100%;
	max-height: 100%;
	border: 1px solid lightgrey;
}

.canned-analysis-col {
	margin: auto;
}

#metadata-row-wrapper {
	margin-top: 11px;
}


/*
.btn {
	cursor: pointer;
	text-align: center;
	box-shadow: none;
	background-color: #1D2541;
	margin-top: auto;
	margin-bottom: auto;
	outline: none;
	border: none;
}*/
/*
input[type="radio"] {
	display: none;
}
*/


/*
#form-upload-row {
	margin-top: 5px;
}

#form-upload-row .col-8,
#form-upload-row .col-6 {
	margin: auto;
}

#form-upload-row .col-lg-4 {
	padding: 10px 3px;
}

#form-upload-row .col-lg-4 form {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 5px;
}

#form-upload-row h4,
#form-upload-row h3 {
	text-align: center;
}

#form-upload-row label {
	text-align: right;
}

#add-another-dataset-button,
#submit-new-dataset-button,
.add-new-button {
	background-color: #1D2541;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	border: none;
	margin-top: 10px;
}

.add-new-button:hover {
	background-color: #1D2541;
}

.add-new-button .fa {
	padding-right: 5px;
}


#tool-selection-mode label,
#dataset-selection-mode label,
#has-tool-selection label,
#dataset-number-selection label {
	cursor: pointer;
	text-align: center;
	box-shadow: none;
	background-color: #1D2541;
	margin-top: auto;
	margin-bottom: auto;
}

#upload-tool-form .fa,
#upload-dataset-form .fa {
	margin-right: 7px;
}

#tool-selection-mode input[type="radio"],
#dataset-selection-mode input[type="radio"],
#has-tool-selection input[type="radio"],
#dataset-number-selection input[type="radio"] {
	display: none;
}

#tool-selection-mode input[type="radio"]:checked + label,
#dataset-selection-mode input[type="radio"]:checked + label,
#has-tool-selection input[type="radio"]:checked + label,
#dataset-number-selection input[type="radio"]:checked + label {
	background-color: #025aa5;
}

label[for="select-tool"],
label[for="select-dataset"],
label[for="has-tool"],
label[for="one-dataset"] {
	margin-left: 10px;
	margin-right: -2px;
	border-radius: 5px 0px 0px 5px;
	border: none;
}

label[for="add-tool"],
label[for="add-dataset"],
label[for="not-has-tool"],
label[for="multi-dataset"] {
	margin-left: -2px;
	border-radius: 0px 5px 5px 0px;
	border: none;
}

#select-dataset {
}

#add-another-dataset-button {
	display: none;
}

/**/
/*
#dataset-row {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 20px 10px;
	margin-top: 15px;
	background-color: #F3F4F3;
}

.dataset-col {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 5px;
}

#upload-tool-form .inactive,
#upload-dataset-form .inactive {
	display: none;
}

#selected-dataset-col {
	margin: auto;
}

.added-dataset {
	padding: 7px 5px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	margin-bottom: 5px;
}

.added-dataset-accession {
	margin: 0;
	font-weight: 500;
}

.added-dataset-title {
	margin: 0;
	font-weight: 100;
	font-size: 8pt;
	font-style: italic;
}

.added-dataset .col-2 a {
	font-size: 8pt;
	margin: 0;
}

.tooltip-inner {
	max-width: 300px;
}
*/
/*

#object-selection-row label {
	height: 125px;
	width: 125px;
	cursor: pointer;
	text-align: center;
	box-shadow: none;
	border: none;
	background-color: #1D2541;
}

#object-selection-row input[type="radio"] {
	display: none;
}

#object-selection-row input[type="radio"]:checked + label {
	background-color: #025aa5;
}

#object-selection-row .fa {
	padding-top: 15px;
	padding-bottom: 10px;
}

#object-selection-row p {
	font-size: 10pt;
}




/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}
/*
#new-tool {
	margin-top: 15px;
	display: none;
}

#manual-upload-tool-icon {
	height: 50px;
	margin: auto;
	background: white;
	padding: 3px;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
}

.btn:disabled,
#form-upload-row .form-control:disabled {
	cursor: auto;
}

#metadata-row-wrapper {
	margin-top: 10px;
}

.lesspadding {
   padding: 0 5px !important;
   margin: auto 0;
}

.alter-tag-col {
	font-size: 11pt;
	padding: 0 15px 0 0 !important;
	text-align: center;
}

.alter-tag-button {
	cursor: pointer;
	color: #1D2541;
}

.alter-tag-col-left {
	font-size: 11pt;
	padding: 0px 5px 0 0 !important;
}

#selectpicker-wrapper {
	display: none;
}

#results {
	display: none;
}
*/

/*** Help Table ***/

#help-table-wrapper .h5 {
	margin-top: 15px;
	font-weight: 600;
}

#help-table-wrapper .h6 {
	font-weight: 600;
}

#help-table-wrapper .fa {
	margin-top: 10px;
	margin-bottom: 10px;
}

#help-table-wrapper .fa:hover {
	color: #303852;
	transition: 0.5s;
}
